$background: gray;

$textColor: ffdead;

$border1: 1px dashed red;
$border2: 1px solid blue;
$border3: 1px solid green;
$border4: 1px solid black;
$border5: 1px solid orange;
$border6: 1px solid purple;
$border7: 1px solid white;